abbr(title="/vɑːlˈhɑːlə/") Valhalla

abbr(title="/ˈoʊdɪn/") Óðinn

abbr(title="/ˈfreɪə/") Freyja

abbr(title="/vælˈkɪəri/") Valkyrja

abbr(title="[Ve]") Vé

abbr(title="[Audhumbla]") Auðhumbla

abbr(title="ginːuŋgagap") Ginnungagap

abbr(title="/ˈʌɪsɪə/") Æsir

abbr(title="/ˈvɑːnɪr/") Vanir

abbr(title="ˈviːkɪŋɐ") Víkingr

abbr(title="/ˈræɡnəˌrɒk/") Ragnarök

abbr(title="/ˈpraːɣʏr/") Bragr

abbr(title="/ˈbɪvrɒst/") Bifröst

abbr(title="/ˈmjɔːlnɪər/") Mjölnir

abbr(title="ˈhlið skjɑːlv") Hliðskjálf

abbr(title="/ˈɑːsɡɑːrd/") Ásgarðr

abbr(title="ˈloki") Loki

abbr(title="/ˈjɔːtʊn/") Jötunn

abbr(title="/θɔːr/") Thor

abbr(title="tʊiːɹ") Týr

abbr(title="/ˈviːdɑːr/") Víðarr

abbr(title="[Fenris Wolf]") Fenrisúlfr

abbr(title="[Midgard Schlange|Serpent]") Miðgarðsormr

abbr(title="[Modi]") Móði